body {
  margin: 0;
  font-family: Monster Clubhouse;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Monster Clubhouse;
  src: local(Monster Clubhouse) url("./assets/fonts/Monster\ Clubhouse.ttf");
}