body {
  margin: 0;
}

@font-face {
  font-family: Monster Clubhouse;
  src: local(Monster Clubhouse) url("../assets/fonts/Monster\ Clubhouse.ttf");
}

@font-face {
  font-family: Poppins;
  src: local(Monster Clubhouse) url("../assets/fonts/Poppins-Bold.ttf");
}